:root {
    --background-color-primary: rgba(255, 255, 255, .9);
    --background-color-secondary: rgba(36, 36, 36, .9);
    --text-color-primary: rgb(36, 36, 36);
    --text-color-secondary: rgb(255, 255, 255);
    --text-color-tertiary: #019872;
    --gutter: 2rem;
    --font: 'Rajdhani', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 20px;
    font-family: var(--font);
    color: var(--text-color-primary);
    background-color: var(--background-color-primary);
}

body {
    text-rendering: optimizeLegibility;
}

a {
    color: inherit;
    text-decoration: none;
}

p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.preloader {
    align-items: center;
    background: rgb(23, 22, 22);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 9999;
  }

.container {
    z-index: 1;
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 var(--gutter);
}

.arrow-link {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 200px;
}

.arrow-link img {
    margin-left: 5px;
    margin-bottom: 2px;
    height: 20px;
    width: 20px;
}

.arrow-link:hover > img {
    transform: translateX(3px) translateY(-4px);
    transition: all .5s cubic-bezier(0, 0.09, 0.32, 1.39);
}

.f-row {
    display: flex;
    flex-direction: row;
}

.callout {
    color: var(--text-color-tertiary);
}


/*-------------------------------------------------------*/
/*                        Nav                            */
/*-------------------------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
}

header h1 {
    margin-right: auto;
    display: inline;
    font-size: 1.4rem;
    font-weight: 400;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*                      Homepage                         */
/*-------------------------------------------------------*/

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 7rem;
}

.slideInLeft {
    animation: slideInFromLeft 2s ease 0s 1 normal forwards;
}

.fadeIn {
    animation: fadeIn 3s ease 0s 1 normal forwards;
}

.slideDown {
    animation: slideDown 2s ease-out 0s 1 normal forwards;
}

.homepage > div {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.homepage div:last-child {
    align-items: flex-end;
}

.profile-img {
    border-radius: 15px;
    height: 25rem;
    width: 25rem;
}

.homepage-title {
    font-weight: 400;
    font-size: 3.6rem;
    margin: 0;
}

.homepage-desc {
    padding-bottom: 1rem;
}

.links a {
    margin-right: 2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }    
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*                      Sections                         */
/*-------------------------------------------------------*/

.project-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-content-left img {
    height: 9rem;
    width: auto;
    aspect-ratio: 3/1;
    object-fit: cover;
}



/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*                     Footer                            */
/*-------------------------------------------------------*/

.social {
    text-align: center;
    padding: 0 0 1rem 0;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.social-link svg {
    fill: var(--background-color-primary);
    height: 1.3rem;
    width: auto;
    margin: 0 3px;
}

.linkedin-path-1 {
    fill: var(--background-color-primary);
}

.linkedin-path-2 {
    fill: var(--background-color-secondary);
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*                  Media Queries                        */
/*-------------------------------------------------------*/
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/