.options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.option {
    flex-basis: 170px;
    border-radius: 15px;
    margin: 10px 0;
    transition: .8s ease-in-out;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid var(--color-text);
    box-shadow: inset 0px 0px 2px 1px var(--color-text);
}

.option .info {
    height: 60%;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    margin: 0;
}

.main-info {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.sub-info {
    font-size: 1rem;
    font-style: italic;
    margin: 10px 0 0 0;
    padding: 0;
}

@media screen and (min-width: 768px) {

    .options {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .option {
        flex-basis: 60px;
        border-radius: 30px;
        height: 50vh;
        cursor: pointer;
        margin: 10px;
    }

    .option.active {
        flex-grow: 1000;
        transform: scale(1);
        cursor: inherit;
    }

    .option.active .info {
        height: fit-content;
        padding-top: 10px;
        opacity: 1;
        transition: all 1s ease-in-out;

    }

    .option.active .info .main-info a {
        display: inline;
        color: var(--color-background);
    }

    .option:not(.active) {
        flex-grow: 1;
    }

    .option:not(.active) .info {
        visibility: hidden;
        transition: visibility 1s ease-in;
    }

    .option:not(.active) .info .main-info a {
        display: none;
    }

    .main-info {
        font-size: 2rem;
    }

    .sub-info {
        margin-top: 15px !important;
        margin-bottom: 20px;
    }

    .option:not(.active) .info {
        opacity: 0;
    }
}